<!DOCTYPE html>
<html>
<head>
  <title><%= theme_name.humanize %></title>
  {{ '<%= "#{theme_name}/all" %>' | javascript_include_tag }}
  {{ '<%= "#{theme_name}/all" %>' | stylesheet_link_tag }}
  {{ content_for_header }}
</head>
<body data-class-name="{{ request.js_class_name }}">
  {% draft_stamp %}
  {{ content_for_layout }}
</body>
</html>